.nav{
    padding: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.logo{
    color: #00ddff;
    font-size: 1vw;
    font-style: italic;
}

.nav .logo span{
    color: #007294;
}

.nav header a{
    font-size: 15px;
    letter-spacing: 0.6px;
    text-decoration: none;
    padding: 12px;
    color: black
}

.nav header .lch{
    background-color: #00ddff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-left: 30px;
}

.nav header .lch:hover{
    background-color: #00c4eb;
    transition: background 0.5s;
}

.sholder{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;

}
.sholder2{
    display: block;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.section1{
    background-color: #D24328; 
}
.section2{
    background-color: #111111; 
}
.section3{
    background-color: #D24328; 
}


.sholder .bg-holder{
    width: 50%;
}

.sholder .bg-holder svg{
    width: 100%;
    height: 90%;
    padding-left: 60px;
}

.sholder .me-cv{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sholder2 .pe-sk{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}
.sholder2 .pe-sk h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 3vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.sholder3 .my-pj{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}
.sholder3 .my-pj h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 3vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.sholder3 .my-pj h5{
    color: #fdb6b6;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.sholder3 .my-pj h4{
    color: #fdb6b6;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.sholder .me-cv h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 4vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.sholder .me-cv h2{
    color: #550000;
    font-weight: 900;
    font-size: 1.8vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.ptext{
    color: #550000;
}
.ptext.card-text:last-child {
    color: #550000 !important;
}
.sholder .me-cv p{
    color: #fdb6b6;
    line-height: 2em;
    font-weight: 500;
}

.sholder .me-cv .sp1{
    color: #550000;
}

.sholder .me-cv .sp2{
    color: #720606;
}

.sholder .me-cv .sp3{
    color: #e7e7e7
}

.sholder .me-cv pre{
    color: #720606;
}

.sholder .me-cv button{
    border: none;
    outline: none;
    color: black;
    background-color: #00c4eb;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 0.8vw;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.sholder .me-cv button:hover{
    opacity: 0.8
}

@media only screen and (max-device-width: 740px) {
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center
    }   
    
    .nav .logo{
        margin-bottom: 18px;
        margin-top: 18px;
        font-size: 55px
    }
    
    .nav header a{
        margin-bottom: 16px;
        font-size: 1vw;
        padding: 50px
    }
    
    .nav header .lch{
        display: block;
        text-align: center;
        margin-top: 25px;
        margin-left: 0;
        padding: 25px 0;
        border-radius: 55px;
    }
    
    .sholder{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .sholder .me-cv{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .sholder .me-cv h1{
        font-size: 130px;
    }
    
    .sholder .me-cv p{
         font-size: 40px;
    }   
    
    .sholder .me-cv pre,.sp2{
        white-space: pre-wrap;       
        white-space: -moz-pre-wrap;  
        white-space: -pre-wrap;      
        white-space: -o-pre-wrap;
        font-size: 1vw;
    }
    .sholder .me-cv button{
        font-size: 1vw;
        padding: 20px 75px;
        border-radius: 50px;
        margin-bottom: 60px;
    } 
    
    .sholder .bg-holder{
        width: 100%;
    }
}

/*SVG*/
tspan { white-space:pre }
.shp0 { fill: #e6e6e6 } 
.shp1 { fill: #00303d } 
.shp2 { fill: #ffb8b8 } 
.shp3 { opacity: 0.102;fill: #000000 } 
.shp4 { fill: #ffffff } 
.shp5 { fill: #00c6ff } 
.shp6 { fill: #3f3d56 }

.profile-img{
    width: 50vw;
    height: 50vw;
}
.icon-img{
    width: 8vw;
    height: 8vw;
    margin: auto;
}
.Box-person{
   display: flex;
   padding-top: 2%;
}
.Box-work{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
 }
.Box-skill{
    display: flex;
    padding-top: 2%;
 }
.card{
    text-align: center !important;
    background-color: transparent !important;
    border: 0px !important;
}
.card-title {
    color: #fdb6b6 !important;
}
.card-text:last-child {
    color: #808080 !important;
}