.icon-img2{
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    margin: auto;
}
.work-header h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 3vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    padding-top: 1%;
    flex-wrap: wrap;
}
.work-header h5{
    color: #fdb6b6;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    padding-top: 1%;
    flex-wrap: wrap;
}
.wks-header h1{
    color: #D24328;
    font-weight: 900;
    font-size: 3vw;
    line-height: 0.9em;
    padding-top: 1%;
    flex-wrap: wrap;
}

.wks-header2 h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 3vw;
    line-height: 0.9em;
    padding: 2%;
    flex-wrap: wrap;
    padding-top: 3%;
}
.wks-header h5{
    color: #ffffff;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.9em;
    margin-bottom: 30px;
    padding-top: 1%;
    flex-wrap: wrap;
}
.wk-header h1{
    color: #D24328;
    font-weight: 400;
    font-size: 20px;
    line-height: 0.9em;
    margin-bottom: 30px;
    padding-left: 10%;
    flex-wrap: wrap;
}
.container{
    margin: 0 !important;
    padding: 0 !important;
}
.section1-w{
    background-color: #D24328;
    padding-top: 2%;
    padding-bottom: 2%;
}
.section2-w{
    background-color: #111111;
    padding-top: 2%;
    padding-bottom: 2%;
}
.col-md-8.col-12{
    align-self: center !important;
}
.row{
    margin: 0 !important;
    padding-bottom: 2%;
}
.size-s{
    width: 30vw;
    height: 30vw;
}
.size-small{
    width: 4vw;
    height: 4vw;
}
.lotties-s.col-md-8.col-12{
    margin-top: -10vw !important;
    margin-bottom: -10vw;
    background-color: #D24328;
}
.lotties-w.col-md-4.col-6{
    margin-top: -10vw !important;
    margin-bottom: -10vw;
}
.stars.container{
    display: flex;
}

@media (max-width: 1104px) {
    
}

@media (max-width: 991px) {
    .work-header h1 {
        font-size: 4vw;
        text-align: center;
    }
    .header-w {
        width: 100vw;
    }
    .work-header h5 {
        font-size: 1.6vw;
        margin-bottom: 0px;
    }
    .row {
        justify-content: center;
        display: flex;
}
.wks-header2 h1 {
    text-align: center;
    font-size: 2vw;
}
.wks-header h1 {
    text-align: center;
}
.carousel {
    padding: 5vw;
}
.stars.container {
    display: flex;
    justify-content: center;
}
    }
    @media (max-width: 767px) {
        .size-s {
            display: none;
        }
        .lotties-s.col-md-8.col-12 {
            margin-top: 4vw !important;
            margin-bottom: 0vw;
        }
    }
@media (max-width: 576px) {
    .work-header h5 {
        font-size: 3vw;
        line-height: 1.2em;
    }
    .work-header h1 {
        font-size: 8vw;
        text-align: center;
        margin-bottom: 2vw;
    }
    .size-s {
        display: none;
    }
    .wks-header2 h1 {
        text-align: center;
        font-size: 5vw;
    }
    .lotties-s.col-md-8.col-12 {
        margin-top: 6vw !important;
        margin-bottom: 0vw;
        background-color: #D24328;
    }
    .wks-header h1 {
        font-size: 5vw;
    }
    .wks-header h5 {
        color: #ffffff;
        font-weight: 200;
        font-size: 3vw;
        line-height: 1.2em;
        margin-bottom: 30px;
        padding-top: 9%;
        flex-wrap: wrap;
    }

}